In [19]:
import pandas as pd
from sqlalchemy import create_engine, MetaData
import os

In [11]:
folder_path = r'C:\Users\yuriy\Desktop\equipment\трубы\Трубы_спецификации_clean'

# Load the uploaded file, if it exists
if os.path.exists('uploaded_pipe_files.txt'):
    with open('uploaded_pipe_files.txt', 'r', encoding="utf-8") as file:
        uploaded_files = file.read().splitlines()
else:
    uploaded_files = []

In [12]:
# Create a list to store file names without a 'contract' sheet
files_without_contract_sheet = []

# Create a dictionary to store column names and the files where they are found
column_file_relationship = {}
files_with_no_column = []
file_names = []
most_common_cols = []
merged_df = pd.DataFrame()

In [13]:
for filename in os.listdir(folder_path):
    file_names.append(filename)
    file_path = os.path.join(folder_path, filename)
    try:
        if filename.endswith('.xlsx') and filename not in uploaded_files:
            # Use the 'with' statement to automatically close the file
            with pd.ExcelFile(file_path) as excel_data:
                sheet_names = excel_data.sheet_names

                # Task 1: Check for 'contract' sheet
                if 'contract' not in sheet_names:
                    files_without_contract_sheet.append(filename)

                if 'contract' in sheet_names:
                    contract_df = pd.read_excel(excel_data, sheet_name='contract')
                    contract_df['source_file'] = filename
                    contract_df.columns = contract_df.columns.str.lower()  # Convert column names to lowercase
                    merged_df = pd.concat([merged_df, contract_df], ignore_index=True, sort=False)
                    
                    for column in contract_df.columns:
                        if column in column_file_relationship:
                            column_file_relationship[column].append(filename)
                        else:
                            column_file_relationship[column] = [filename]

                        if column == 'no':
                            files_with_no_column.append(filename)
                uploaded_files.append(filename)
    except Exception as e:
        continue

# Task 1: Print files without a 'contract' sheet
if files_without_contract_sheet:
    print("Files without a 'contract' sheet:")
    for file in files_without_contract_sheet:
        print(file)
else:
    print("All files have a 'contract' sheet.")

# Task 2: Print the relationship between column names and the files where they can be found
for column, files in column_file_relationship.items():
    if len(files) > 1:
        most_common_cols.append(column)
    print(f"Column Name: {column}")
    print("Count of Files:", len(files))
    print("Found in Files:", files)
    print("Not Found in Files:", set(file_names) - set(files))
    print()

All files have a 'contract' sheet.
Column Name: no
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: system
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: drawing_name
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: unit_no
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: operating_pressure
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: steel_grade
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: measure_unit
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: total_weight
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: pipe_weight
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: ops_weight
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: safety_class
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: qa_category
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: zzi
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: object
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: fca_date
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: npp_date
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: manufacturer
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: total_pipe_cost_usd
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: total_ops_cost_usd
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: transportation_cost_usd
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']
Not Found in Files: {'FT-04-21-889_add2.xlsx', 'FT-04-23-665_1.xlsx', 'FT-04-23-144.xlsx', 'FT-04-23-68.xlsx', 'FT-04-23-143.xlsx', 'FT-04-23-992_1.xlsx', 'FT-04-21-1060.xlsx', 'FT-04-23-971.xlsx', 'FT-04-23-646.xlsx', 'FT-04-23-970_2.xlsx', 'FT-04-23-989_1.xlsx', 'FT-04-21-890_1.xlsx', 'FT-04-23-77.xlsx', 'FT-04-23-664_add2.xlsx', 'FT-04-22-1692_add2.xlsx', 'FT-04-23-664_add1.xlsx', 'FT-04-21-702.xlsx', 'FT-04-21-642_add2.xlsx', 'FT-04-22-1685_add.xlsx', 'FT-04-21-626_1.xlsx', 'FT-04-21-626_2.xlsx', 'FT-04-22-922.xlsx', 'FT-04-23-828.xlsx', 'FT-04-23-665_2.xlsx', 'FT-04-23-989_2.xlsx', 'FT-04-22-1692_add1.xlsx', 'FT-04-23-781.xlsx', 'FT-04-21-890_2.xlsx', 'FT-04-23-862.xlsx', 'FT-04-23-970_1.xlsx', 'FT-04-20-76.xlsx', 'FT-04-21-642_add1.xlsx', 'FT-04-23-912.xlsx', 'FT-04-23-704.xlsx', 'FT-04-21-1058.xlsx', 'FT-04-23-992_2.xlsx', 'FT-04-21-889_add1.xlsx', 'FT-04-23-933.xlsx'}

Column Name: supplier_cost_usd
Count of Files: 1
Found in Files: ['FT-04-23-969.xlsx']

In [14]:
merged_df.loc[ :, 'zzi'] = merged_df['zzi'].str.split().str[0]
merged_df['lot'] = merged_df['lot'].str.strip()
merged_df['contract'] = merged_df['contract'].str.strip()
merged_df

,no,system,drawing_name,unit_no,operating_pressure,steel_grade,measure_unit,total_weight,pipe_weight,ops_weight,...,transportation_cost_usd,supplier_cost_usd,total_cost,shipping_point,work_id,cost_item,lot,contract,tag,source_file
0,1,MAJ,Выхлопной трубопровод пускового эжектора систе...,1,н.д. / l.p.,Угл / Cs,кг,14486.738,7412.089,7074.649,...,8375.65,161408.61,917835.06,NaN,10UMA.T.MAJ.C-2080,Материалы / Materials,AKU-23-043м,FT-04-23-969,NaN,FT-04-23-969.xlsx
1,2,SCB,Трубопроводы подвода сжатого воздуха к потреб...,1,н.д. / l.p.,"Нж, Сборный / Cs, Assembled",кг,1424.544,716.301,708.243,...,1297.47,37753.00,188286.20,NaN,10UMA.T.SCB.C-2315,Материалы / Materials,AKU-23-043м,FT-04-23-969,NaN,FT-04-23-969.xlsx
2,3,GCG,Трубопровод возврата конденсата от опреснитель...,1,н.д. / l.p.,"Угл, Сборный / Cs, Assembled",кг,310.750,223.188,87.562,...,346.97,7031.08,34760.10,NaN,10UMA.T.LCM.C-2020,Материалы / Materials,AKU-23-043м,FT-04-23-969,NaN,FT-04-23-969.xlsx
3,4,NDA,Трубопроводы радконтроля сетевой воды (NDA) / ...,1,н.д. / l.p.,"Нж, Сборный / Ss, Assembled",кг,689.731,264.106,425.625,...,770.13,21536.84,93790.81,NaN,10UMA.T.NDA.C-2320,Материалы / Materials,AKU-23-043м,FT-04-23-969,NaN,FT-04-23-969.xlsx
4,5,PGB,Трубопроводы охлаждающей воды промконтура в об...,1,н.д. / l.p.,"Угл, Сборный / Cs, Assembled",кг,2572.333,1275.344,1296.989,...,1487.22,27211.35,115864.53,NaN,10UMA.T.PGB.C-2235,Материалы / Materials,AKU-23-043м,FT-04-23-969,NaN,FT-04-23-969.xlsx
5,6,MAJ,Выхлопной трубопровод пускового эжектора систе...,2,н.д. / l.p.,Угл / Cs,кг,14486.738,7412.089,7074.649,...,8375.65,161408.61,917835.06,NaN,20UMA.T.MAJ.C-2080,Материалы / Materials,AKU-23-043м,FT-04-23-969,NaN,FT-04-23-969.xlsx
6,7,SCB,Трубопроводы подвода сжатого воздуха к потреб...,2,н.д. / l.p.,"Нж, Сборный / Cs, Assembled",кг,1424.544,716.301,708.243,...,1297.47,37753.00,188286.20,NaN,20UMA.T.SCB.C-2315,Материалы / Materials,AKU-23-043м,FT-04-23-969,NaN,FT-04-23-969.xlsx
7,8,GCG,Трубопровод возврата конденсата от опреснитель...,2,н.д. / l.p.,"Угл, Сборный / Cs, Assembled",кг,310.750,223.188,87.562,...,346.97,7031.08,34760.10,NaN,20UMA.T.LCM.C-2020,Материалы / Materials,AKU-23-043м,FT-04-23-969,NaN,FT-04-23-969.xlsx
8,9,NDA,Трубопроводы радконтроля сетевой воды (NDA) / ...,2,н.д. / l.p.,"Нж, Сборный / Ss, Assembled",кг,689.731,264.106,425.625,...,770.13,21536.84,93790.81,NaN,20UMA.T.NDA.C-2320,Материалы / Materials,AKU-23-043м,FT-04-23-969,NaN,FT-04-23-969.xlsx
9,10,PGB,Трубопроводы охлаждающей воды промконтура в об...,2,н.д. / l.p.,"Угл, Сборный / Cs, Assembled",кг,2572.333,1275.344,1296.989,...,1487.22,15314.02,115334.72,NaN,20UMA.T.PGB.C-2235,Материалы / Materials,AKU-23-043м,FT-04-23-969,NaN,FT-04-23-969.xlsx

In [15]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   no                       10 non-null     int64
 1   system                   10 non-null     object
 2   drawing_name             10 non-null     object
 3   unit_no                  10 non-null     int64
 4   operating_pressure       10 non-null     object
 5   steel_grade              10 non-null     object
 6   measure_unit             10 non-null     object
 7   total_weight             10 non-null     float64
 8   pipe_weight              10 non-null     float64
 9   ops_weight               10 non-null     float64
 10  safety_class             10 non-null     int64
 11  qa_category              10 non-null     object
 12  zzi                      10 non-null     object
 13  object                   10 non-null     object
 14  fca_date                 10 non-null     datetime64[ns]
 15  npp_date                 10 non-null     datetime64[ns]
 16  manufacturer             10 non-null     object
 17  total_pipe_cost_usd      10 non-null     float64
 18  total_ops_cost_usd       10 non-null     float64
 19  transportation_cost_usd  10 non-null     float64
 20  supplier_cost_usd        10 non-null     float64
 21  total_cost               10 non-null     float64
 22  shipping_point           0 non-null      float64
 23  work_id                  10 non-null     object
 24  cost_item                10 non-null     object
 25  lot                      10 non-null     object
 26  contract                 10 non-null     object
 27  tag                      0 non-null      float64
 28  source_file              10 non-null     object
dtypes: datetime64[ns](2), float64(10), int64(3), object(14)
memory usage: 2.4+ KB

In [ ]:
most_common_cols

In [20]:
# Define your database connection parameters
db_url = 'postgresql://postgres:postgres@localhost:5432/pipe_db'
engine_pipe = create_engine(db_url)

# Specify the schema in the table name
table_name = 'pipe_specification'
# Create a metadata object

metadata = MetaData()

# Reflect the table from the database
metadata.reflect(bind=engine_pipe)

# Get the specified table
table = metadata.tables[table_name]

# Get the column names
column_names = table.columns.keys()

column_names

['no',
 'system',
 'drawing_name',
 'operating_pressure',
 'steel_grade',
 'measure_unit',
 'total_weight',
 'pipe_weight',
 'ops_weight',
 'safety_class',
 'zzi',
 'object',
 'fca_date',
 'npp_date',
 'total_pipe_cost_usd',
 'total_ops_cost_usd',
 'total_cost',
 'lot',
 'contract',
 'tag',
 'source_file',
 'unit_no',
 'manufacturing_cycle',
 'manufacturer',
 'work_id',
 'cost_item',
 'manufacturer_ops',
 'qa_category',
 'shipping_point',
 'transportation_cost_usd',
 'supplier_cost_usd',
 'kks_code',
 'eqp_name',
 'itt_designation',
 'model',
 'participant_model',
 'technical_characteristics',
 'participant_technical_characteristics',
 'seismic_category',
 'material',
 'qty_per_unit',
 'climatic_dsn_category',
 'storage_condition',
 'atmosphere_type',
 'note']

In [22]:
# Get the column names from the DataFrame
df_column_names = merged_df.columns.tolist()

In [23]:
# Check if DataFrame columns are in database columns
columns_in_database = all(column in df_column_names for column in df_column_names)

if columns_in_database:
    print("All DataFrame columns are in the database table.")
else:
    print("Not all DataFrame columns are in the database table.")

All DataFrame columns are in the database table.

In [24]:
# Use the to_sql method to create the table in the specified schema
merged_df.to_sql(table_name, engine_pipe, if_exists='append', index=False)

with open('uploaded_pipe_files.txt', 'w', encoding="utf-8") as file:
    file.write('\n'.join(uploaded_files))