In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [7]:
# Define your database connection parameters
#electric
electric_url = 'postgresql://postgres:postgres@localhost:5432/electric_db'
spf_url = 'postgresql://postgres:postgres@localhost:5432/SPF_DB'
eqp_url = 'postgresql://postgres:postgres@localhost:5432/EQP_DB'

sql_electric = 'SELECT * FROM electric_specification'
sql_spf = ('SELECT "KKS", "NAME", "BLOCK_NUMBER", "ZDANIE_KKS", "ELEVATION", "OBRD_KLASS", "NOMEN_VID", "KOD_WD", "KOMPLEKT_RD" '
           'FROM spf_data')
sql_eqp = ('SELECT kks_code, type, set_code, lot, '
           'contract_no, delivery_expected, delivery_expected_status,'
           'delivery_fact, delivery_fact_status FROM eqp_positional')

df_electric =  pd.read_sql_query(sql_electric, electric_url)
df_spf = pd.read_sql_query(sql_spf, spf_url)
df_eqp = pd.read_sql_query(sql_eqp, eqp_url)

In [22]:
df_electric['kks_code'] = df_electric['kks_code'].str.strip()
df_spf['KKS'] = df_spf['KKS'].str.strip()
df_eqp['kks_code'] = df_eqp['kks_code'].str.strip()

df_electric = df_electric.loc[df_electric['source_file'] != 'FT-04-21-854.xlsx', :]

df_merged = pd.merge(df_electric, df_spf, left_on='kks_code', right_on='KKS', how='left')
df_merged2 = pd.merge(df_merged, df_eqp,  left_on='KKS', right_on='kks_code', how='left', suffixes=['_electric', '_eqp'])

In [31]:
df_merged2 = df_merged2.drop_duplicates(['kks_code_electric'], keep='first').dropna(subset=['KKS'], axis='index')

In [32]:
df_merged2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1432 entries, 1 to 2747
Data columns (total 39 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   kks_code_electric         1432 non-null   object
 1   eqp_name_electric         1432 non-null   object
 2   unit_no                   1432 non-null   int64
 3   building                  1412 non-null   object
 4   quantity                  1412 non-null   object
 5   measure                   12 non-null     object
 6   measure_unit              1412 non-null   object
 7   delivery_fca              1432 non-null   datetime64[ns]
 8   delivery_npp              1432 non-null   datetime64[ns]
 9   manufacturer              1432 non-null   object
 10  eqp_cost                  1432 non-null   float64
 11  installation_cost         1432 non-null   float64
 12  adjustment_cost           1432 non-null   float64
 13  work_id                   1420 non-null   object
 14  lot_electric              1075 non-null   object
 15  contract                  1432 non-null   object
 16  tag                       1432 non-null   object
 17  source_file               1432 non-null   object
 18  cabinet_quantity          954 non-null    float64
 19  extention                 4 non-null      object
 20  KKS                       1432 non-null   object
 21  NAME                      1432 non-null   object
 22  BLOCK_NUMBER              1369 non-null   float64
 23  ZDANIE_KKS                1432 non-null   object
 24  ELEVATION                 1432 non-null   object
 25  OBRD_KLASS                1346 non-null   object
 26  NOMEN_VID                 1432 non-null   object
 27  KOD_WD                    1124 non-null   object
 28  KOMPLEKT_RD               1220 non-null   object
 29  kks_code_eqp              1432 non-null   object
 30  eqp_name_eqp              1432 non-null   object
 31  type                      1432 non-null   object
 32  set_code                  0 non-null      object
 33  lot_eqp                   1432 non-null   object
 34  contract_no               1432 non-null   object
 35  delivery_expected         1388 non-null   datetime64[ns]
 36  delivery_expected_status  44 non-null     object
 37  delivery_fact             42 non-null     datetime64[ns]
 38  delivery_fact_status      3 non-null      object
dtypes: datetime64[ns](4), float64(5), int64(1), object(29)
memory usage: 447.5+ KB

In [35]:
df_merged2.loc[df_merged2['delivery_expected'] < '2023-11-24' , ['kks_code_electric', 'delivery_npp','delivery_expected', 'delivery_expected_status', 'delivery_fact', 'delivery_fact_status']]

,kks_code_electric,delivery_npp,delivery_expected,delivery_expected_status,delivery_fact,delivery_fact_status
16,10BBT01,2023-12-14,2023-11-03,None,NaT,None
1990,10BBC,2023-05-30,2023-10-28,None,NaT,None
2478,00BUK,2023-05-20,2023-11-03,None,NaT,None
2479,00BUL,2023-05-20,2023-11-03,None,NaT,None
2536,00BCC,2023-06-20,2023-11-03,None,2023-10-13,None
2544,00BCE,2023-09-04,2023-11-12,None,NaT,None
2588,00BCF,2023-10-04,2023-11-12,None,NaT,None
2738,10XLA10,2022-12-30,2023-11-03,None,NaT,None
2741,20XLA10,2023-03-17,2023-11-03,None,NaT,None

In [ ]:
db_url = 'postgresql://postgres:postgres@localhost:5432/electric_db'
engine_electric = create_engine(db_url)
table_name = 'electric_spf'

In [ ]:
df_merged.to_sql(table_name, engine_electric, if_exists='append', index=False)